:80 {
    handle /api/* {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle /admin/* {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle /auth/* {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    @setup_api {
        path /setup
        method POST
    }
    handle @setup_api {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle /cable {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle /up {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle /hook/* {
        reverse_proxy kamal-proxy:80 {
            header_up Host {$BACKEND_HOST:localhost}
        }
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
